/*ok ganger er universel vælger ændre her for eúdsene*/

*,
*::before,
*::after {
    box-sizing: border-box;
}


header {
    min-height: 0rem;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

body {
    background-color: #181b03;
    color: #ffffff;
}

nav {
    /*den sorter vandret*/
    display: flex;  
    justify-content: center;
    align-items: center;
}

/*den selecter alle links under tab class*/

/*
Source - https://stackoverflow.com/a/65949603
Posted by tacoshy
Retrieved 2026-10-02, License - CC BY-SA 4.0
*/

.textBox {
  display: flex;
  justify-content: center;
  background-color: #c5b830;
  color: #181b03;
  align-items: center;
  font-family: monospace;
  font-weight: bold;
  font-size: 3em;
  width: 25rem;
  height: 5rem;
}

.cd{
  display: flex;
  justify-content: center;
}

.tab {
    display: flex;
    gap: 10px;
    list-style: none;
}

.tab li {
    padding: 5px 20px;
  /*border-radius: 5px;
    border-right-color: gray ;
    border: 2px solid white; */
    color: #181b03;
    background-color: #f8f399;
}

.tab a {
    color: inherit;
    text-decoration: none;
}

.link-linkText {  color: #181b03; font-weight: bold;}

.htext{
    gap: 20px;
    text-align: center;
}

.htext{
    font-family: monospace, Helvetica, sans-serif;
    font-size: 50px;
    margin-bottom: 0px;
}
