/*ok ganger er universel vælger ændre her for eúdsene*/

*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
    background-color: #181b03;
    color: #ffffff;
}

nav {
    /*den sorter vandret*/
    justify-content: center;
    display: flex;
    gap: 10px;
    list-style: none;
    align-items: center;
    height: 20vh;
}

.search_box {
    position: relative;
    align-items: center;

}

.forslag {
    position: absolute;
    display: none;

    top: 100%;
    left: 0;
    width: 100%;
    background-color: white;
    color: black;
}

.forslag div {
    padding: 10px;
}


/*den selecter alle links under tab class*/


.cd{
  display: flex;
  justify-content: center;
}

.tab {
    display: flex;
    gap: 10px;
    list-style: none;
}

.tab li {
    padding: 10px 10px;
  /*border-radius: 5px;
    border-right-color: gray ;
    border: 2px solid white; */
    color: #181b03;
    background-color: #f8f399;
}

.tab a {
    color: inherit;
    text-decoration: none;
}

.link-linkText {  color: #181b03; font-weight: bold;}

.htext{
    gap: 20px;
    text-align: center;
}

.htext{
    font-family: monospace, Helvetica, sans-serif;
    font-size: 50px;
    margin-bottom: 0px;
}
