/*ok ganger er universel vælger ændre her for eúdsene*/

*,
*::before,
*::after {
    box-sizing: border-box;
}


header {
    min-height: 0rem;
}

.search{
    position: absolute;
    top: 0.2rem;
    left: 0.2rem;
    display: flex;
    align-items: center;

    border: 0.15rem solid #c5b830;
    height: 1.6rem;
}

.moviesTable{
    background-color: #c5b830;
    border: 0.15rem solid #f8f399;
    height: 1.6rem;

    color: #181b03;
    font-family: monospace;
    font-weight: bold;
    font-size: 1.5rem;
}

.placeholder{
    width: 30rem;
    height: 300px;
    border: 2px solid #c5b830;
    margin: 10px auto;
}

.most-watched {
    text-align: center;
    margin-top: 2rem;
}

.most-watched h2 {
    display: inline-block;
    background-color: #c5b830;
    color: #181b03;;
    font-size: 1rem;
    padding: 1rem;
}

.search button {
    width: 1.8rem;
    height: 1.2rem;

    background-color: #c5b830;
    color: #181b03;

    border: none;
    cursor: pointer;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}

body {
    background-color: #181b03;
    color: #ffffff;
}

nav {
    /*den sorter vandret*/
    display: flex;  
    justify-content: center;
    align-items: center;
}

.headline {
  display: flex;
  justify-content: center;
  background-color: #c5b830;
  color: #181b03;
  font-family: monospace;
  font-weight: bold;
  font-size: 3em;
  width: 25rem;
  height: 9rem;
  margin: 5rem auto
    ;}

.tab {
    display: flex;
    gap: 10px;
    list-style: none;
}

.tab li {
    padding: 5px 20px;
  /*border-radius: 5px;
    border-right-color: gray ;
    border: 2px solid white; */
    color: #181b03;
    background-color: #f8f399;
}

.tab a {
    color: inherit;
    text-decoration: none;
}
/*den ændrer link font */

.li-linkText {  
    color: #181b03; 
    font-family: monospace;    
    font-weight: bold;
}

