/*ok ganger er universel vælger ændre her for eúdsene*/

*{margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
    
    background-color: black;
    color: aliceblue;

}

nav {
    /*den sorter vandret*/

    justify-content: center;
    display: flex;
    gap: 10px;
    list-style: none;
    align-items: center;
    height: 60vh;
    
}
/*den selecter alle links under tab class*/

.cd{
    display: flex;
  justify-content: center;}

.tab li {
    padding: 10px 10px;
    border-radius: 5px;
    border-right-color: gray;
    border: 2px solid white;
    background-color: #1a1a1a;

}
.tab a {color: aliceblue;}

.htext{
    gap: 20px;
        text-align: center;

}
.htext{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    margin-bottom: 10px;
}