/*ok ganger er universel vælger ændre her for eúdsene*/

*{margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
    
    background-color: white;
    color: black;

}

nav {
    /*den sorter vandret*/


    display: flex;
    gap: 50px;
    list-style: none;
}
/*den selecter alle links under tab class*/

.tab {
    padding: 20px;
    border-radius: 5px;
   
    border: 2px solid black;
    background-color: gray;
}
.tab li {
    padding: 20px;
    border-radius: 5px;
   
    border: 2px solid black;

}
.tab a {color: black;}
.htext h1{
    text-align: center;
}
.htext p{
        text-align: center;
}